body {
  background: #ACB2AD;
}
.ask {
  color: white;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 28px;
  margin-top: 50px;
  transition: 5s;
}
.selections {
  max-width: 400px;
}
#text {
  color: #ACB2AD;
  font-size: 50px;
  background-color: white;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
}
